## Settings file was created by plugin Backpack Viewer Mod v1.0.0
## Plugin GUID: com.vorshim92.backpackviewer

[General]

## Enable or disable the mod
# Setting type: Boolean
# Default value: true
ModEnabled = true

[Keybinds]

## Time in seconds to hold the interact key before opening backpack
# Setting type: Single
# Default value: 0.75
HoldTime = 0.75

## Allow holding interact key to open backpack
# Setting type: Boolean
# Default value: true
UseHoldMethod = true

[Visual]

## Show 'Hold to Open' prompt when holding a backpack.
# Setting type: Boolean
# Default value: true
ShowHoldPrompt = true

[Visual.ExtendedUI]

## Mostra gli slot dello zaino del tuo personaggio sulla UI.
# Setting type: Boolean
# Default value: true
ShowPlayerBackpackSlots = true

## Mostra anche gli slot degli zaini degli altri giocatori vicini.
# Setting type: Boolean
# Default value: true
ShowOtherPlayerBackpackSlots = true

## La scala (dimensione) degli slot degli altri giocatori rispetto a quelli del tuo personaggio (es. 0.8 = 80%).
# Setting type: Single
# Default value: 0.8
OtherPlayerSlotsScale = 0.8

